body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.App {
    background-color: #f1fbfb;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px
}

.error {
    margin-top: 8px;
    font-size: 12px;
    color : red;
}

.send {
    font-size: 12px;
    margin-top: 8px;
    color: green
}

button {
   background-color: #00bfff;
   color: #ffffff;
   border: 0;
   border-radius: 4px;
   height: 21px;
   margin-left: 5px;
}

input {
    margin-top: 12px;
}